<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>定位以获取天气信息</string>
	<key>NSLocationUsageDescription</key>
	<string>需要定位获取周边服务</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>定位以获取天气信息</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>存储图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>相册以获取图片信息</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>用于蓝牙配网，查找并链接附近的蓝牙设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要访问蓝牙加速配网</string>
	<key>NSCameraUsageDescription</key>
	<string>使用相机来扫描SN码</string>
</dict>
</plist>
